# Java
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
target/
hs_err_pid*

# Python
__pycache__/
*.pyc
*.pyo
.env
.pytest_cache/

# Mac
.DS_Store
.AppleDouble

# IDE
.vscode/
.idea/
*.iml
*.swp
*.ctxt
.mtj.tmp/

# Logs
*.log